<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-3">
            <div class="bs-example">
                <ul class="breadcrumb" style="margin-bottom: 5px;">
                    <li><a href="/goods">Trusty Shop</a></li>
                    <li class="active">Nouvelle vente</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <h1>Mise en vente</h1>
    </div>
    <div class="row">
        <form role="form">
            <div class="row div">
                <label for="title" class="col-md-2">
                    Titre:
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="title" placeholder="Entrez le titre de la vente">
                </div>
            </div>        
            <div class="row div">
                <label for="descrption" class="col-md-2">
                    Description:
                </label>
                <div class="col-md-9">
                    <textarea type="text" class="form-control" id="description">
                    </textarea>
                </div>
            </div>
            <div class="row div">
                <label for="price" class="col-md-2">
                    Prix de départ:
                </label>
                <div class="col-md-9">
                    <input type="number" class="form-control" id="price" placeholder="Entrez le montant de départ">
                </div>
            </div>        
            <div class="row div">
                <label for="category" class="col-md-2">
                    Catégorie:
                </label>
                <div class="col-md-9">
                    <select name="category" id="category" class="form-control">
                        <option disabled selected>--Choisissez une catégorie--</option>
                        <% categories.forEach(function(c){ %>
                            <option id="<%= c.id %>"><%= c.name %></option>
                        <% }) %>
                    </select>
                </div>            
            </div>
            <div class="row div">
                <label for="otherCategory" class="col-md-2">
                    Autre catégorie:
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="category" placeholder="Entrez la catégorie de l'objet si elle n'est pas présente au dessus">
                </div>
            </div>
            <div class="row div">
                <label for="uploadimage" class="col-md-2">
                    Upload Image:
                </label>
                <div class="col-md-10">
                    <input type="file" name="uploadimage" id="file_image" multiple="multiple">
                    <p class="help-block">
                        Format autorisé: jpeg, jpg, gif, png
                    </p>
                </div>          
            </div>
            <div class="row div">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <label>
                        <input type="checkbox">
                        J'accepte les termes et conditions d'utilisation de ce site.
                    </label>
                </div>            
            </div>
            <div class="row div">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-info">
                        Ajouter l'article
                    </button>
                    <button type="reset" class="btn btn-info">
                        Réinitialiser
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>