<div id="page-wrapper">
    <h1><%= good.title %></h1>

    <div class="row">
        <div class="col-sm-8">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <% good.images = [];
                    var auctions = [];
                    for(var i = 1; i < good.images.length; i++) { %>
                        <li data-target="#myCarousel" data-slide-to='<%= i %>'></li>
                    <% } %>
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src='<%= good.images[0] %>' alt='<%= good.title %>'>
                    </div>
                    <% for(var i = 1; i < good.images.length; i++) { %>
                        <div class="item">
                            <img src='<%= good.images[i] %>' alt='<%= good.title %>'>
                        </div>
                    <% } %>
                </div>
            
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <h2>Description</h2>
            <p><%= good.description %></p>
        </div>
    </div>

    <% if(!saled){ %>

        <div class="row">
            <form role="form">
                <div class="col-sm-2">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                        <input id="montant" type="text" class="form-control" placeholder="Montant de l'enchère">
                    </div>
                </div>
                <button type="submit" class="btn btn-default" id="auction">Enchérir</button>            
            </form>
        </div>

    <% } else if(isMyPurchase){ %>
        <div class="row">
            <form role="form">
                <input type="hidden" id="idGood" value='<%= good.id %>'/>
                <div class="col-sm-5">
                    <div class="form-group input-group">
                        <textarea id="comment" placeholder="Commentaire ..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label>Note : </label>
                    <label class="radio-inline">
                        <input type="radio" name="score" id="star1" value="option1" checked="">
                        1
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="score" id="star2" value="option2">
                        2
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="score" id="star3" value="option3">
                        3
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="score" id="star4" value="option4">
                        4
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="score" id="star5" value="option5">
                        5
                    </label>
                </div>
                <button type="submit" class="btn btn-default" id="commentButton">Commenter</button>            
            </form>
        </div>
    <% } %>

    <div class="row">
        <div class="col-sm-9">
            <% auctions.forEach(function(a){ %>
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            Le montant de l'enchère de <%= a.user.first_name %> <%= a.user.last_name %> est de <%= a.price %>
                        </p>
                        <div class="text-center">
                            <p>enchère effectuée le <%= a.date %></p>
                        </div>
                    </div>
                </div>
                <hr/>
            <% }); %>
        </div>
    </div>

</div>