<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-3">
            <div class="bs-example">
                <ul class="breadcrumb" style="margin-bottom: 5px;">
                    <li><a href="/goods">Trusty Shop</a></li>
                    <li class="active">Toutes les catégories</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <h1>Les articles ()</h1>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <% goods.forEach(function(g){ %>
                <div class="row">
                    <div class="col-xs-12">
                        <h2><%= g.title %></h2>
                        <img alt="" src="images/1.png" class="col-xs-2"/>
                        <p clas="col-xs-10">
                            <%= g.description %>
                        </p>
                        <div class="text-center">
                            <a href='/good/<%= g.id %>'><i class="fa fa-plus"> Plus d'informations</i></a>
                        </div>
                    </div>
                </div>
                <hr/>
            <% }); %>
        </div>
    </div>
</div>