<!DOCTYPE HTML>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap-3.3.5-dist/css/bootstrap.min.css">
        <!--<link rel="stylesheet" type="text/css" href="styles/css/style.css">-->
        <link rel="stylesheet" type="text/css" href="/styles/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/css/local.css">
        
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap-3.3.5-dist/css/shieldui-all.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap-3.3.5-dist/css/light-bootstrap-all.min.css" />
        <link id="gridcss" rel="stylesheet" type="text/css" href="/styles/bootstrap-3.3.5-dist/css/dark-bootstrap-all.min.css" />

        <link rel="stylesheet" type="text/css" href="/styles/css/style.css">
                
	</head>
	<body>
    <header></header>
    <div id="wrapper">

    <!-- To include START -->
    
    <%- include nav.ejs %>
    
    <%- body %>

    <!-- To include END -->
        
    </div>
    <footer></footer>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-1.10.2.min.js"></script>
    <script src="/js/js-theme/bootstrap.min.js"></script>
    <script src="/js/script/category.js"></script>
    <script src="/js/script/login.js"></script>
    <script src="/js/script/register.js"></script>
    <script src="/js/script/script.js"></script>
    <script src="/js/script/user.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
