<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>

    <link rel="stylesheet" type="text/css" href="/styles/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/local.css" />

    <script type="text/javascript" src="/js/dependencies/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/styles/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/script/login.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Trusty Shop</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li>
                    <a href="login">Se connecter</i>
                    </a>
                </li>
                <li>
                    <a href="register">S'inscrire</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-md-4" style="text-align: center; margin: 0 auto;">
               <h4 class="alert-success">Vous avez été correctement déconnecté</h4>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#container -->
</body>

</html>