<div id="page-wrapper">
    <div class="row">
        <form role="form">
            <div class="row div">
                <label for="title" class="col-md-2">
                    Titre:
                </label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="title" placeholder='<%= good.title %>'>
                </div>
            </div>        
            <div class="row div">
                <label for="descrption" class="col-md-2">
                    Description:
                </label>
                <div class="col-md-9">
                    <textarea type="text" class="form-control" id="description" placeholder='<%= good.description %>'>
                    </textarea>
                </div>
            </div>
            <div class="row div">
                <label for="price" class="col-md-2">
                    Prix de départ:
                </label>
                <div class="col-md-9">
                    <input type="number" class="form-control" id="price" placeholder="Entrez le montant de départ" disabled>
                </div>
            </div>     
            <div class="row div">
                <label for="category" class="col-md-2">
                    Catégorie:
                </label>
                <div class="col-md-9">
                    <select name="category" id="category" class="form-control">
                        <option disabled selected>--Choisissez une catégorie--</option>
                        <% categories.forEach(function(c){ %>
                            <option id="<%= c.id %>"><%= c.name %></option>
                        <% }) %>
                    </select>
                </div>            
            </div>
            <div class="row div">
                <label for="uploadimage" class="col-md-2">
                    Upload Image:
                </label>
                <div class="col-md-10">
                    <input type="file" name="uploadimage" id="file_image" multiple="multiple">
                    <p class="help-block">
                        Format autorisé: jpeg, jpg, gif, png
                    </p>
                </div>          
            </div>
            <div class="row div">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-info">
                        Modifier l'article
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <% auctions.forEach(function(a){ %>
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            Le montant de l'enchère de <%= a.user.first_name %> <%= a.user.last_name %> est de <%= a.price %>
                        </p>
                        <div class="text-center">
                            <p>enchère effectuée le <%= a.date %></p>
                        </div>
                    </div>
                </div>
                <hr/>
            <% }); %>
        </div>
    </div>

</div>