<div class="page-wrapper">
    <div class="row">
        <div class="col-sm-9">
            <% goods.forEach(function(g){ %>
                <div class="row">
                    <div class="col-xs-12">
                        <h2><%= g.title %></h2>
                        <img alt="" src='<%= g.image %>'/>
                        <p>
                            <%= g.description %>
                        </p>
                        <div class="text-center">
                            <a href='/good?id=<%= g.id %>'><i class="fa fa-plus"> Plus d'information</i></a>
                        </div>
                    </div>
                </div>
                <hr/>
            <% }); %>
        </div>
    </div>
</div>