<div id="page-wrapper">
    <h1>Profil</h1>
    <div class="col-lg-8">
        <form role="form">
            <fieldset>
                <div class="form-group">
                    <label for="disabledSelect">Registre national</label>
                    <input class="form-control" type="text" placeholder='<%= user.reg_nat_number %>' disabled>
                </div>
                <div class="form-group">
                    <label for="disabledSelect">Nom de famille</label>
                    <input class="form-control" type="text" placeholder='<%= user.last_name %>' disabled>
                </div>
                <div class="form-group">
                    <label for="disabledSelect">Prénom</label>
                    <input class="form-control" type="text" placeholder='<%= user.first_name %>' disabled>
                </div>
                <div class="form-group">
                    <label for="disabledSelect">Adresse</label>
                    <input class="form-control" type="text" placeholder='<%= user.address %>' disabled>
                </div>
                <div class="form-group">
                    <label for="disabledSelect">Date de naissance</label>
                    <input class="form-control" type="text" placeholder='<%= user.birthDate %>' disabled>
                </div>
                <div class="form-group">
                    <label for="disabledSelect">Date d'inscription</label>
                    <input class="form-control" type="text" placeholder='<%= user.registration_date %>' disabled>
                </div>
                <div class="form-group">
                    <label>Numéro de gsm</label>
                    <input id="phone" class="form-control" type="tel" placeholder='<%= user.phone %>'>
                </div>
                <button id="updateUser" type="button" class="btn btn-primary">Mettre à jour</button>
            </fieldset>
        </form>
    </div>
</div>