<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'inscrire</title>

    <link rel="stylesheet" type="text/css" href="/styles/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/css/local.css" />

    <script type="text/javascript" src="/js/dependencies/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/styles/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/script/register.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Trusty Shop</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right navbar-user">
              <li>
                <a href="login">Se connecter</i></a>
              </li>
               <li>
                  <a href="register">S'inscrire</a>
              </li>
          </ul>
      </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12" style="text-align: center; margin: 0 auto;">

        <h1>Inscription</h1>
        <div class="alertMessageDiv col-md-4 col-md-offset-4" id="messageAlert">
          <div class="alert alert-info">
            <strong>Remarque:</strong> tous les champs sont obligatoires
          </div>
        </div>
        <div class="col-md-4 col-md-offset-4" >
          <form id="register_form">
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="register_email">Adresse e-mail</label>
                <input type="text" class="form-control" placeholder="Entrez email" id="register_email">
              </div>
              <div class="col-md-12 form-group">
                <label for="register_tel">Numéro de téléphone</label>
                <input type="tel" class="form-control" placeholder="Entrez téléphone" id="register_tel">
              </div>
              <div class="col-md-12 form-group">
                <label for="register_username">Nom d'utilisateur</label>
                <input type="text" class="form-control" placeholder="Entrez nom d'utilisateur" id="register_username">
              </div>
              <div class="col-md-12 form-group">
                <label for="register_password">Mot de passe</label>
                <input type="password" class="form-control" placeholder="Entrez mot de passe" id="register_password">
              </div>
              <div class="col-md-12 form-group">
                <label for="register_confirm">Confirmer Mot de passe</label>
                <input type="password" class="form-control" placeholder="Confirmez mot de passe" id="register_confirm">
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success">S'inscrire</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
