<div class="page-wrapper">
    
    <h1>Profil de <%= user.firt_name %> <%= user.last_name %></h1>

    <div class="row">
        <div class="col-sm-9">
            <% comments.forEach(function(c){ %>
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Commentaire de <%= c.author.first_name %> <%= c.author.last_name %> sur <a href='/good/:<%= c.id_good%>'><%= c.good.title %></a></h2>
                        <p>
                            <%= c.comment %>
                        </p>
                        <div class="text-center">
                            Note : 
                            <% for(var i = 0; i < c.score; i++) { %>
                                <i class="fa fa-star"></i>
                            <% } %>
                            <% for(var i = c.score; i < 5; i++) { %>
                                <i class="fa fa-star-o"></i>
                            <% } %>
                        </div>
                    </div>
                </div>
                <hr/>
            <% }); %>
        </div>
    </div>

</div>